*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #060644;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

header{
    background-color: #222831;
    color: white;
    height: 60px;
    width: 100%;
    position: fixed;
}

header > nav > ul{
    height: 100%;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
    list-style: none;
    height: 100%;
    gap: 10px;
}

header > nav > ul > li{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(42, 45, 73);
}

header > nav > ul > li > a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

figure > img{
    width: 100%;
}

article > img{
    padding-left: 33%;
}

h1{
    color: white;
    background-color: #222831;
    font-size: 250%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 30px;
    margin: 0 auto;
}

#beginfoto{
    margin-bottom: 20px;
}

#taal{
    margin-bottom: 30px;
    margin-left: 20px;
}

#taal > a{
    color: rgb(16, 16, 27);
    background-color: rgb(0, 195, 255);
    text-decoration: none;
    padding: 10px;
}

p{
    color: rgb(220, 220, 240);
    background-color: rgb(23, 23, 39);
    margin-left: 10%;
    margin-right: 10%;
    width: 80vw;
    margin: 0 auto;
    padding: 25px;
}

button{
    background-color: rgb(39, 39, 77);
    color:rgb(220, 220, 240);
    padding: 5px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    align-items: center;
    justify-content: center;
}

button:hover{
    background-color: rgb(61, 61, 121);
    cursor: pointer;
}

#img{
    width:70%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

#vleugel{
    color: rgb(220, 220, 240);
    background-color: rgb(23, 23, 39);
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 80vw;
    margin: 0 auto;
    padding: 25px;
}

#vleugellist{
    border-bottom: 3px solid black;
    display: block;
}

article > ul{
    color: rgb(220, 220, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(23, 23, 39);
    margin-left: 10%;
    margin-right: 10%;
    width: 80vw;
    margin: 0 auto;
    padding:25px;
    gap: 5%;
    list-style: none;
}

#windroos{
    padding-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#schipImg{
    width: 90%;
    padding-left: 20%;
    padding-right: 10%;
    margin: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#reviews{
    color: black;
    background-color: white;
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 40px;
    padding: 25px;
}

#reviewitem{
    border: 5px solid rgb(10, 45, 78);
    padding: 5px;
}


h2, h3, h5{
    color: rgb(220, 220, 240);
    background-color: rgb(23, 23, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80vw;
    margin: 0 auto;
    padding: 25px;
}

#ticketbutton{
    padding-top: 25px;
}

h4 > a{
    color: rgb(16, 16, 27);
    background-color: rgb(26, 248, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    height: 70px;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
}

footer{
    background-color: #222831;
    color: white;
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 10%;
    margin-top: 75px;
}


@media screen and (max-width:1000px) {
    header{
        background-color: #222831;
        color: white;
        height: auto;
        position: relative;
    }
    
    nav{
        margin:0 auto;
        height: 100%;
        width: 100%;
    }

    header > nav > ul{
        display: block;
        justify-content:space-evenly ;
        align-items:center ;
        list-style: none;
        height: 100%;
        width: 100%;
    }
    
    header > nav > ul > li{
        width: 100%;
        height: 100%;
        border: 2px solid black;
    }
    
    header > nav > ul > li > a{
        height: 100%;
        width: 100%;
        display: block;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        color: white;
    }
    
    h1{
        padding-top: 35px;
    }

    h4 > a{
        width: 200px;
    }

}


